/* 

Function: Website style sheet update for medium screens
Version: 0.1
Device: Medium Up Screens
Author: Alexander Vonnemann
Last changes: 2013/25/12

*/

/* *********************
   Table of contents
************************

-> Page setup
-> Header
-> Content
-> Slide, Maps & Songs
-> Contact information
-> Footer
-> 2x Screen Images

*/

/*
*****************
Page setup
*****************
*/



@media #{$medium-up} {


h2 {
  font-size:rem-calc(36);
}

/* Header */

li.name h1 a span {
  margin-left:8px;
}
#header, #stagebg {
  height:500px;
}
.teaser h1, #content .teaser h1 {
    font-size:rem-calc(58);
}
#header.has-bigstage .teaser h1, #header.has-bigstage .teaser h5  {
    font-size:rem-calc(58);
}
#header.has-bigstage .teaser h5 {
  margin-bottom:40px;
}
#header.has-bigstage .teaser p {
  font-size:rem-calc(32);
}

#content .teaser p {
  font-size:rem-calc(32);
  line-height:rem-calc(50);
}

/* Content */


#header.has-bigstage, #stagebg.has-bigstage {
      height: 750px;
}
#content .splitter p .cit, #content .splitter p .splittercit-autor {
  font-size:rem-calc(26);
  line-height:3.1rem;
}
.teaser h1, #content .teaser h1 {
  font-size:rem-calc(98);
}
#content p {
  padding-right:20px;
}
#content .txtcenter p {
  padding-right:0;
}
table.shortinfotable tr th, table.shortinfotable tr td {
  font-size:1.0rem;
}
#content .maintext p {
  -moz-column-count:2; 
  -webkit-column-count:2; 
  column-count:2;
  column-gap: 1.875rem;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
}


.button.medium-giant {
  font-size:rem-calc(26);
}

/* Reminder Form */

#reminder {
  max-width:620px;
  margin:0 auto;
}
#reminder input[type="email"], button.submitreminder {
  height:68px;
}
#reminder input[type="email"] {
  border-bottom:2px solid #dadfe3;
  border-right:0;
  border-top-right-radius:0;
  border-bottom-left-radius:$global-radius;
  font-size:rem-calc(32);
  padding:rem-calc(32);
}
#reminder .columns:first-child {
  padding-right:0;
}
#reminder .columns.buttomclm {
  padding-left:0;
}
#reminder button.submitreminder {
  font-size:rem-calc(22);
  padding:rem-calc(16);
  width:100%;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-top-right-radius:$global-radius;
}



/* orbit */

.slide-description {
  position:relative; 
  max-height:470px;
  overflow:scroll; 
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
/*.slide-description .fadeout {
    position: absolute; 
    bottom: 0;
    height: 100px;
    width:100%;
    background:#00ffff;
} */

/* -Sub-Nav*/

dl.sub-nav dd {
  width:auto;
}

}