/* 

Function: Website style sheet update for medium screens
Version: 0.1
Device: Medium Up Screens
Author: Alexander Vonnemann
Last changes: 2013/25/12

*/

/* *********************
   Table of contents
************************

-> Page setup
-> Header
-> Content
-> Slide, Maps & Songs
-> Contact information
-> Footer
-> 2x Screen Images

*/

/*
*****************
Page setup
*****************
*/



@media #{$medium-up} {


/* Header */

li.name h1 a span {
  margin-left:8px;
}
#header, #stagebg {
  height:500px;
}
.teaser h1, #content .teaser h1 {
    font-size:rem-calc(58);
}
#header.has-bigstage .teaser h1 {
    font-size:rem-calc(58);
    padding-bottom:40px;
}
#header.has-bigstage .teaser p {
  font-size:rem-calc(32);
}

#content .teaser p {
  font-size:rem-calc(32);
  line-height:rem-calc(50);
}

/* Content */


#header.has-bigstage, #stagebg.has-bigstage {
      height: 750px;
}
#content .splitter p .cit, #content .splitter p .splittercit-autor {
  font-size:rem-calc(24);
  line-height:3.1rem;
}
.teaser h1, #content .teaser h1 {
  font-size:rem-calc(98);
}
#content p {
  padding-right:20px;
}
table.shortinfotable tr th, table.shortinfotable tr td {
  font-size:1.0rem;
}
#content .maintext p {
  -moz-column-count:2; 
  -webkit-column-count:2; 
  column-count:2;
  column-gap: 1.875rem;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
}

/* orbit */

.slide-description {
  position:relative; 
  max-height:470px;
  overflow:scroll; 
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
/*.slide-description .fadeout {
    position: absolute; 
    bottom: 0;
    height: 100px;
    width:100%;
    background:#00ffff;
} */

/* -Sub-Nav*/

dl.sub-nav dd {
  width:auto;
}

}