/* 

Function: Website general style sheet
Version: 0.1
Device: Small Up Screens
Author: Alexander Vonnemann & Marisa Wollner
Last changes: 2013/25/12

*/


/* *********************
   Table of contents
************************

-> Page setup
-> Header
-> Content
-> Slide, Maps & Songs
-> Contact information
-> Footer
-> 2x Screen Images

*/



/*
*****************
Page setup
*****************
*/

@font-face {
  font-family: 'hda_regular';
  src: url(../fonts/DINWeb-Light.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'hda_medium';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/DINWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'hda_bold';
  font-style: bold;
  font-weight: bold;
  src: url(../fonts/DINWeb-Bold.woff) format('woff');
} 


/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
body.noscroll {
  overflow: hidden;
  position:fixed;
}
h2 {
  font-size:rem-calc(26);
}
strong {
  font-family:'hda_bold', sans-serif;
}
.wrapper {
  max-width:1133px;
  margin:0 auto;
}
button, .button {
  border:2px solid rgba($mainred, $maingreen, $mainblue, 0.8) !important;
  background:transparent;
  border-radius:$global-radius;
  padding:0.6rem 1.2rem;
  color:$primary-color;
}
button:hover, .button:hover {
  border:2px solid $primary-color !important;
  color:#ffffff;
}
button.whitebtn, .button.whitebtn {
  border:2px solid #ffffff !important; 
  color:#ffffff;
  font-style:normal;
}
.splitter button.whitebtn, .splitter .button.whitebtn {
  margin-top:40px;
}
button.whitebtn:hover, .button.whitebtn:hover {
  background:#ffffff;
  color:$primary-color;
}
button.whitebtn.cta, .button.whitebtn.cta {
  font-family:'hda_bold', sans-serif;
  font-size:1.2rem;
}
.headertxt button.whitebtn.cta, .headertxt .button.whitebtn.cta {
  margin-top:10px;
  padding:1rem 2rem;
}
a.close {
  border:0;
}
.bigtxt {
   font-size:1.1rem;/* 16 / 14 */;
}
.txtright {
  text-align:right;
}
.txtcenter {
  text-align:center;
}
.txtsmall {
  font-size:0.9rem;
}
.hide {
  display:none !important;
}
@media only screen and (min-width: 40em) {
  .show-for-medium-up.title {
    display:inline !important;
  }
}
@media only screen and (max-width: 40em) { 
  .show-for-small-only.title {
    display:inline !important;
  }
}
.lightgraybg {
  background:#f5f8fa;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffffff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    width:50px;
    height:100px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-50px 0 0 -25px; /* is width and height divided by two */
}

/* Header */
/*.top-bar-section li a:not(.button) {
  line-height: 98px;
}
.top-bar-section ul.dropdown li a:not(.button) {
  line-height: 20px;
}*/
.row.headertxt {
  display:table;
  max-width:720px;
  margin:0 auto;
  height:100%;
  padding:0 20px;
}
.teaser, #content .teaser {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#header .teaser, #content #bigtitle .teaser {
  color:#ffffff;
}
.teaser a, #content .teaser a {
  font-weight:bold;
  color:#ffffff;
  font-size:rem-calc(16);
  border-bottom: 1px dotted #ffffff;
}
.teaser h1, #content .teaser h1 {
    font-size:rem-calc(36);
    padding-top:80px;
}
#header .teaser h1, #header .teaser h5 {
   color:#ffffff;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family:'hda_bold', sans-serif;
}
#content #bigtitle .teaser h1 {
  color:#ffffff;
}
#header.has-bigstage .teaser h1, #header.has-bigstage .teaser h5 {
    font-size:1.6rem;
    padding:0;
    margin:0;
    font-family: 'hda_regular', sans-serif;
}
#header.has-bigstage .teaser h5 {
  margin-bottom:20px;
  font-family:'hda_bold', sans-serif;
}
#header.has-bigstage .teaser p {
  padding-top:80px;
  font-size:rem-calc(24);
  color:rgba(255,255,255,0.8);
}

#header .teaser p, #bigtitle .teaser p {
  color:#ffffff;
}
#header {
  height: 300px;
  width: 100%;
  background:transparent;
  overflow:hidden;
  z-index:2;
}
#stagebg {
  height: 300px;
  top:0;
  position:absolute;
  overflow:hidden;
  width:100%;
  z-index:-1;
  background:$header-background;
}
#stagebg img {
  max-width:inherit;
}
#header.has-bigstage, #stagebg.has-bigstage {
    height: 540px;
}
#stagebg .wrapper {
  background:$header-background;
  height:100%;
}
#content {
  position:relative;
  background:#ffffff;
  box-shadow:-5px 36px 36px rgba(0, 0, 0, 0.4);
}
.cntwrapper {
  background:#ffffff;
}

/* Page Navigation */

header#pagenav {
  position:fixed;
  top:0;
  /*padding:26px 0;*/
  z-index:99;
  width:100%;
  border-bottom:1px solid rgba(218,223,227,0.4);
  background:rgba(218,223,227,0.1);
  -webkit-transition: background 0.5s linear, border 0.8s linear;
  -moz-transition: background 0.5s linear, border 0.8s linear;
  -ms-transition: background 0.5s linear, border 0.8s linear;
  -o-transition: background 0.5s linear, border 0.8s linear;
  transition: background 0.5s linear, border 0.8s linear;

}
header#pagenav.scrollednav {
	background:rgba($mainred, $maingreen, $mainblue, 0.95);	
  border-bottom:1px solid $primary-color;
  box-shadow:0px 0px 36px rgba(0, 0, 0, 0.4);
}
header#pagenav a {
  border-bottom:0;
}


/* Content */

#content img {
  padding-bottom:40px;
  width:100%;
}
#content .maintext p {
  font-size:rem-calc(18);
  margin-bottom: 60px;
}
#content .row, #mcfooter .row {
  padding-bottom:40px;
}
#mcfooter .row:last-child {
  padding-bottom:0;
}
#content .section-teaser {
  text-align:center;
  padding:rem-calc(60) 0;
}
#content .section-teaser h2 {
  color:#bec3c7;
}
#content .section-teaser p {
  max-width:540px;
  margin:0 auto;
  font-size:rem-calc(18);
}
.articleimg {
  position:relative;
}
.articleimg ul.inline-list {
  position:absolute;
  top:12px;
  right:12px;
}
.articleimg ul.inline-list li a {
  background:#ffffff;
  font-size:rem-calc(12);
  border-bottom:0;
  padding:0.3rem 0.6rem;
}

/* -Splitter */

#content .splitter {
  height:580px;
  overflow:hidden;
  background:$splitter-background;
  position:relative;
}
#content .splitter .splitter_cnt {
  display:table;
  position:absolute;
  z-index:2;
  width:100%;
  height:100%;
}
#content .splitter p {
  text-align:center;
  vertical-align:middle;
  display:table-cell;
  font-style:italic;
  color:#ffffff;
  font-family: 'hda_regular';
}
#content .splitter img.splitterimg, #stagebg img.splitterimg {
  height:100%;
  width:auto;
  max-width:none;
  padding:0;
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.70;
}
#content .splitter p .cit, #content .splitter p .splittercit-autor {
  max-width:800px;
  display:block;
  text-shadow: 0 0 8px $body-font-color;
  font-size:rem-calc(24);
  margin:0 auto;
}
#content .splitter p .splittercit-autor {
  padding-top:40px;
  font-size:rem-calc(18);
  font-style:normal;
}
#content p, #content ul {
  font-size:rem-calc(18);
  line-height:2.1rem;
}

/* Form */

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-border-radius: $global-radius;
  border-radius:$global-radius; 
}
input[type="text"].giantinput {
  font-size:rem-calc(16); 
  padding:rem-calc(16);
  height:auto;
}

/* Reminder Form */

#reminder {
  max-width:620px;
  margin:0 auto;
}
#reminder input[type="email"] {
  border-bottom:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  margin-bottom:0;
  font-size:rem-calc(22);
  padding:rem-calc(28);
}
#reminder button.submitreminder {
  font-size:rem-calc(16);
  padding:rem-calc(16);
  border:2px solid $primary-color !important;
  width:100%;
  border-top-left-radius:0;
  border-top-right-radius:0;
}

/* -Sub Navigation */

dl.sub-nav {
  display: table;
  width: 100%;
  text-align: center;
}

dl.sub-nav dd {
  margin-right: 1rem;
  display: inline-block;
  text-align: center;
  float:none;
  width:100%;
}

.sub-nav dd.active a {
  border: 2px solid $primary-color !important;
  background-color: $primary-color;
  padding: 0.35rem 1rem;
} 

/* -Tags */

a.tag {
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-border-radius: $global-radius;
  border-radius:$global-radius;
  border: 2px solid $secondary-color;
  padding: 0.35rem 1rem;
  color: $body-font-color;
  background-color: $secondary-color;
  margin-bottom: 3rem;
  display: inline-block;
}

.tag:hover {
  border: 2px solid $primary-color !important;
  color: #ffffff !important;
  background-color: $primary-color;
}

/* -Mixitup */

#Grid .mix{
    opacity: 0;
    display: none;
}


/* -Tabs */
.tabs {
  text-align:center;
  font-size:0;
}
.tabs dd {
  display:inline-block;
  float:none;
}
.tabs dd > a {
  color:#464952;
  background:transparent;
  border-bottom:1px solid #bec3c7;
}
.tabs dd > a:hover {
  background:transparent;
  color:$primary-color;
  border-bottom:1px solid $primary-color;
}
.tabs dd.active a {
  font-weight:bold;
  color:$primary-color;
  border-bottom:1px solid $primary-color;
}
.tabs-content > .content {
  padding-top:60px;
}

/* Accordion */



/* -Orbit */

.orbit-container a {
  border-bottom:0;
}
.orbit-bullets-container {
  position:relative;
  top:-80px;
  z-index:999;
}
.slide-description {
  display: none;
}
.slide-description.active {
  display: block;
}

/* -Shortinfo Table */

table.shortinfotable {
  border:0;
  margin:0;
  width:100%;
}
table.shortinfotable tr:nth-of-type(even) {
  background:none;
}
table.shortinfotable tr th, table.shortinfotable tr td {
  font-size:rem-calc(14);
  width:50%;
  padding-left:0;
  padding-right:0;
}

/* MC Footer */

#mcfooter {
    width:100%;
    background:#1d1f20 url(../img/mcfooter_bg.png);
    padding:60px 0 20px 0;
}
#mcfooter hr {
	border: solid #484a4b;
	border-width: 1px 0 0;	
}
#mcfooter h6 {
	color:#ffffff;
  font-family:'hda_bold', sans-serif;
}
#mcfooter p {
	color:#76797c;
}
#mcfooter a{
	color:#ffffff;
	border-bottom:1px solid #ffffff;
}
#mcfooter a.button {
	border:2px solid #76797c !important;
	color: #76797c !important;
}
#mcfooter a.button:hover {
  background:#76797c;
  color:#1f1f20 !important;
}
#mcfooter .mediencampuslogo {
  padding-bottom:20px;
}

/* Orbit */

.orbit-bullets li {
  border:2px solid #ffffff;
  width:rem-calc(12);
  height:rem-calc(12);
}

/*Top Bar*/

.top-bar-section li a:not(.button) {
  padding:0 12px !important;
}
li.name h1 a img {
  padding-bottom:5px;
}
li.name h1 a span {
  margin-left:0px;
  font-size:rem-calc(22);
}
.top-bar-section .dropdown.desktopbar {
  background:#ffffff !important;
  left:0;
  width:100%;
  border-bottom:1px solid #dadfe3;
}
.top-bar-section .has-dropdown.desktopbar, .top-bar.desktopbar, .top-bar-section.desktopbar {
  position:static;
}
.top-bar-section .dropdown.desktopbar li {
   width:auto;
}
.top-bar .name h1 a {
  padding-left: 0.9375rem;
}
.liwrapper.active {
  display:table;
  margin:0 auto;
}
.top-bar-section .dropdown.desktopbar li a {
  color:#464952;
  padding:26px 12px !important;
  display:block;
}
.top-bar-section .dropdown.desktopbar li a:hover {
  color:$primary-color;
}

/* Video */

.video-js {
  background:transparent !important;
}

/*Popup for Article, Project */

#popup, #overlay {
  display:none;
}
#overlay {
  max-height: none;
    position: fixed;
    z-index:100;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  background:rgba(190,195,199,0.9);
}

#popup {
  position:fixed;
  top:0;
  z-index:9999;
  height:100%;
  width:100%;
}
#popup .wrapper {
  height:100%;
  overflow:scroll;
  background:#ffffff;
}

/* Nav */
#popup #popupnav {
  position:fixed;
  width:100%;
  z-index:999999;
} 
#popupnav {
  box-shadow:0px 0px 36px rgba(0, 0, 0, 0.1);
  overflow:hidden;
}
#popup .close {
   font-size:rem-calc(46);
   font-weight:bold;
}
#popupnav .wrapper {
  padding:30px 0;
  background:rgba(255,255,255,0.95);
}

#popup #popupnav button, #popup #popupnav .button {
  margin:0;
}

/* Header */
#popup header {
  width:100%;
  position:relative;
}

#popup .teaser .autor {
  font-size:rem-calc(16);
}
#popup .headertxt {
  padding-bottom:60px;
}
#popup #imageteaser {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#popup #content #headerimg img {
  padding-bottom:0;
}
#popup #content #headerimg {
  margin-bottom:80px;
}
#popup #content {
  padding-top:90px;
}

@media screen and (max-width: $topbar-breakpoint){

.top-bar-section li a:not(.button) {
	padding:12px 12px !important;
}

}
