/* 

Function: Website style sheet update for medium screens
Version: 0.1
Device: Medium Up Screens
Author: Alexander Vonnemann
Last changes: 2013/25/12

*/

/* *********************
   Table of contents
************************

-> Page setup
-> Header
-> Content
-> Slide, Maps & Songs
-> Contact information
-> Footer
-> 2x Screen Images

*/

/*
*****************
Page setup
*****************
*/



@media #{$medium-up} {


/* Header */

li.name h1 a {
  font-size:20px
}
li.name h1 a span {
  margin-left:8px;
}
#header, #stagebg {
  height:500px;
}
.teaser h1, #content .teaser h1 {
    font-size:6.1rem; /* 48 / 14 */
}
#header.has-bigstage .teaser h1 {
    font-size:3.6rem;
    padding-bottom:40px;
}
#header.has-bigstage .teaser p {
  font-size:2.6rem;
}

/* Content */


#header.has-bigstage, #stagebg.has-bigstage {
      height: 750px;
}
#content .splitter p .cit, #content .splitter p .splittercit-autor {
  font-size:1.8rem;
  line-height:3.1rem;
}
.teaser h1, #content .teaser h1 {
  font-size:6.1rem;
}
#content p {
  padding-right:20px;
}
table.shortinfotable tr th, table.shortinfotable tr td {
  font-size:1.0rem;/* 16 / 14 */
}

/* -Sub-Nav*/

dl.sub-nav dd {
  width:auto;
}

}